:root {
/* Color mappings ------------------------ */
  /* Accent HSL values */
  --accent-h: 258;
  --accent-s: 88%;
  --accent-l: 66%;
  /* Backgrounds */
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-20);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.067);
  --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.1);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-40);
  --background-modifier-error-rgb: var(--color-red-rgb);
  --background-modifier-error: var(--color-red);
  --background-modifier-error-hover: var(--color-red);
  --background-modifier-success-rgb: var(--color-green-rgb);
  --background-modifier-success: var(--color-green);
  --background-modifier-message: rgba(0, 0, 0, 0.9);
  /* Inputs */
  --background-modifier-form-field: var(--color-base-00);
  --background-modifier-form-field-hover: var(--background-modifier-form-field);
  /* Text */
  --text-normal: var(--color-base-100);
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);
  --text-on-accent: white;
  --text-on-accent-inverted: black;
  --text-error: var(--color-red);
  --text-warning: var(--color-orange);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-highlight-bg-rgb: 255, 208, 0;
  --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-10);
  --interactive-accent-hsl: var(--color-accent-hsl);
  --interactive-accent: var(--color-accent-1);
  --interactive-accent-hover: var(--color-accent-2);
  --h1-color: var(--color-base-100);
  --h2-color: inherit;
  --h3-color: inherit;
  --h4-color: inherit;
  --h5-color: inherit;
  --h6-color: inherit;
  --h1-font: "inter";
  --h2-font: inherit;
  --h3-font: inherit;
  --h4-font: inherit;
  --h5-font: inherit;
  --h6-font: inherit;
}
.theme-light,
.theme-dark {
  --dropdown-background: var(--interactive-normal);
  --dropdown-background-hover: var(--interactive-hover);
}
.theme-light {
  color-scheme: light;
  --highlight-mix-blend-mode: darken;
  --mono-rgb-0: 255, 255, 255;
  --mono-rgb-100: 0, 0, 0;
  --color-red-rgb: 233, 49, 71;
  --color-red: #e93147;
  --color-orange-rgb: 236, 117, 0;
  --color-orange: #ec7500;
  --color-yellow-rgb: 224, 172, 0;
  --color-yellow: #e0ac00;
  --color-green-rgb: 8, 185, 78;
  --color-green: #08b94e;
  --color-cyan-rgb: 0, 191, 188;
  --color-cyan: #00bfbc;
  --color-blue-rgb: 8, 109, 221;
  --color-blue: #086ddd;
  --color-purple-rgb: 120, 82, 238;
  --color-purple: #7852ee;
  --color-pink-rgb: 213, 57, 132;
  --color-pink: #d53984;
  --color-base-00: #ffffff;
  --color-base-05: #fcfcfc;
  --color-base-10: #fafafa;
  --color-base-20: #f6f6f6;
  --color-base-25: #e3e3e3;
  --color-base-30: #e0e0e0;
  --color-base-35: #d4d4d4;
  --color-base-40: #bdbdbd;
  --color-base-50: #ababab;
  --color-base-60: #707070;
  --color-base-70: #5c5c5c;
  --color-base-100: #929292;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(calc(var(--accent-h) - 1), calc(var(--accent-s) * 1.01), calc(var(--accent-l) * 1.075));
  --color-accent-2: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-cover: rgba(220, 220, 220, 0.4);
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0 0 1px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 15px 30px rgba(0, 0, 0, 0.07);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 15px 30px rgba(0, 0, 0, 0.1);
}
.theme-dark {
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #929292;
  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
  --color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
  --background-modifier-form-field: var(--color-base-25);
  --background-secondary-alt: var(--color-base-30);
  --interactive-normal: var(--color-base-30);
  --interactive-hover: var(--color-base-35);
  --text-accent: var(--color-accent-1);
  --interactive-accent: var(--color-accent);
  --interactive-accent-hover: var(--color-accent-1);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-cover: rgba(10, 10, 10, 0.4);
  --text-selection: hsla(var(--interactive-accent-hsl), 0.33);
  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 1.5px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 0 transparent;
  --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121), 0px 3.4px 6.7px rgba(0, 0, 0, 0.179), 0px 15px 30px rgba(0, 0, 0, 0.3);
  --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
  --pdf-shadow: 0 0 0 1px var(--background-modifier-border);
  --pdf-thumbnail-shadow: 0 0 0 1px var(--background-modifier-border);
}
iframe {
  color-scheme: normal;
}
@media print {
  .theme-dark {
    --highlight-mix-blend-mode: darken;
  }
}
@font-face {
  font-family: 'Avenir Next';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/94f2f163d4b698242fef.otf);
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(public/fonts/72505e6a122c6acd5471.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(public/fonts/2d5198822ab091ce4305.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/c8ba52b05a9ef10f4758.woff2);
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/cb10ffd7684cd9836a05.woff2);
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/293fd13dbca5a3e450ef.woff2);
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/085cb93e613ba3d40d2b.woff2);
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/b5f0f109bc88052d4000.woff2);
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/cbe0ae49c52c920fd563.woff2);
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/535a6cf662596b3bd6a6.woff2);
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/70cc7ff27245e82ad414.ttf);
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/454577c22304619db035.ttf);
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(public/fonts/52ac8f3034507f1d9e53.ttf);
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url(public/fonts/05b618077343fbbd92b7.ttf);
}
@font-face {
  font-family: 'Flow Circular';
  font-display: swap;
  src: url(public/fonts/4bb6ac751d1c5478ff3a.woff2);
}
@font-face {
  font-family: '??';
  unicode-range: U+0;
}
body {
  --font-default: ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-monospace-default: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace;
  --font-interface-override: '??';
  --font-interface-theme: '??';
  --font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font, '??'), var(--font-default);
  --font-text-override: '??';
  --font-text-theme: '??';
  --font-text: var(--font-text-override), var(--font-text-theme), var(--font-default);
  --font-print-override: '??';
  --font-print: var(--font-print-override), var(--font-text-override), var(--font-text-theme), 'Arial';
  --font-monospace-override: '??';
  --font-monospace-theme: '??';
  --font-monospace: var(--font-monospace-override), var(--font-monospace-theme), var(--font-monospace-default);
  --font-text-size: 16px;
  --font-mermaid: var(--font-text);
}
@media print {
  html,
  body {
    padding-top: 0 !important;
    overflow: auto !important;
    height: auto !important;
    contain: initial !important;
  }
  iframe,
  .titlebar,
  .app-container,
  .progress-bar,
  .popover,
  .markdown-embed-link,
  .suggestion-container,
  .cm-tooltip.cm-tooltip-autocomplete {
    display: none !important;
  }
  body > :not(.print) {
    display: none !important;
  }
  .print .markdown-preview-view {
    -webkit-print-color-adjust: exact;
    color: initial;
    height: unset !important;
  }
  .print .markdown-preview-view mark {
    color: initial;
  }
  .print .markdown-preview-view .metadata-container {
    display: none;
  }
  .print .markdown-preview-view .markdown-embed-content {
    max-height: none;
    overflow: visible;
  }
  .print .markdown-preview-view .callout-content {
    display: inherit !important;
  }
  .print .external-link {
    background: none;
    padding-right: 0;
  }
  * {
    text-shadow: none !important;
  }
  webview {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    --font-text: var(--font-print) !important;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}
body {
  text-rendering: optimizeLegibility;
  font-family: var(--font-interface);
  line-height: var(--line-height-tight);
  font-size: var(--font-ui-medium);
  background-color: var(--background-primary);
  color: var(--text-normal);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  overflow: clip;
  contain: strict;
}
body.is-translucent {
  background-color: transparent;
}
@keyframes node-inserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}
.node-insert-event {
  animation-duration: 0.01s;
  animation-name: node-inserted;
}
.is-flashing {
  transition: color 0.25s ease, background-color 0.25s ease;
  background-color: var(--text-highlight-bg) !important;
  color: var(--text-normal);
  mix-blend-mode: var(--highlight-mix-blend-mode);
  border-radius: var(--radius-s);
}
body {
  user-select: none;
  -webkit-user-select: none;
  caret-color: var(--caret-color);
}
body [contenteditable="true"],
body [contenteditable=""] {
  user-select: text;
  -webkit-user-select: text;
}
body.is-grabbing,
body.is-grabbing *:not(.workspace-leaf-resize-handle) {
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
body.is-grabbing iframe:not(.is-controlled),
body.is-grabbing webview {
  pointer-events: none;
}
.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.app-container.no-transition * {
  transition: none !important;
}
.app-container.mod-loading .clickable-icon {
  pointer-events: none;
  touch-action: none;
}
.app-container.mod-loading .view-header .loader-spinner {
  --icon-size: var(--icon-l);
  --icon-stroke: var(--icon-l-stroke-width);
  margin: var(--size-4-3) var(--size-4-2);
}
.app-container.mod-loading .view-header .loader-spinner svg {
  animation: spin 0.9s ease infinite;
}
body:not(.is-mobile) .app-container {
  position: relative;
}
.horizontal-main-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex: 1 0 0;
}
:focus {
  outline: none;
}
.is-text-garbled * {
  font-family: 'Flow Circular', sans-serif !important;
  line-height: 1.45em !important;
}
.download-attachments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-4-1);
  margin-top: var(--size-4-2);
}
.download-attachments .download-attachment-item {
  --checkbox-marker-color: var(--text-on-accent);
  --checkbox-size: 1.15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1/1;
  background-color: var(--background-secondary);
  overflow: hidden;
  border-radius: var(--radius-s);
}
.download-attachments .download-attachment-item:before {
  content: '';
  position: absolute;
  box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.2);
  border-radius: var(--radius-s);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0.5;
  transition: box-shadow var(--anim-duration-superfast) ease-in-out;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 50%);
}
.download-attachments .download-attachment-item:hover:before {
  box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.3);
}
.download-attachments .download-attachment-item input[type=checkbox] {
  position: absolute;
  bottom: var(--size-4-2);
  inset-inline-end: var(--size-4-2);
  margin-inline: 0;
  z-index: 2;
}
.download-attachments .download-attachment-item input[type=checkbox]:not(:checked) {
  background-color: var(--background-primary);
}
.download-attachments .download-attachment-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  border-radius: var(--radius-s);
}
